body {
	background-color: #212121;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	text-align: center;
}

.main {
}

#the-grid {
	border: 3px solid orchid;
	min-width: 600px;
	max-width: 600px;
	min-height: 600px;
	max-height: 600px;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
}

.pixel {
	border: 1px solid white;
	transition: all 0.1s ease;
	aspect-ratio: 1;
	cursor: grab;
}

#btn-reset {
	display: block;
	margin: 20px auto;
	padding: 10px 200px;
	background-color: orchid;
	color: white;
	border: 1px solid orchid;
	border-radius: 5px;
	cursor: pointer;
}

#btn-reset:active,
#btn-reset:hover {
	background-color: blueviolet;
	border: dashed 1px blueviolet;
}
