body {
	background-color: #212121;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	text-align: center;
}

.main {
	border: 1px solid orange;
	padding: 20px;
}

#the-grid {
	border: 3px solid orchid;
	padding: 20px;
	max-width: 320px;
	max-height: 320px;
	display: flex;
	flex-wrap: wrap;
}

.pixel {
	padding: 9px;
	border: 1px solid white;
	transition: all 0.1s ease;
}
