body {
	background-color: #212121;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title {
	text-align: center;
}

.main {
	border: 3px solid orchid;
	padding: 20px;
	min-width: 600px;
	min-height: 600px;
}
